/* @font-face {
    font-family: Shabnam;
    src: url('../font/Shabnam.eot');
    src: url('../font/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam.woff') format('woff'),
    url('../font/Shabnam.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Shabnam;
    src: url('../font/Shabnam-Bold.eot');
    src: url('../font/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam-Bold.woff') format('woff'),
    url('../font/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('../font/Shabnam-Light.eot');
    src: url('../font/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam-Light.woff') format('woff'),
    url('../font/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

* {
    font-family: Shabnam,Arial;
    outline: none;
} */

.centered-text {
  display: block;
  width: 100%;
  text-align: center;
}

.footer-sub-section1 {
  display: inline-block;
  width: 200px;
  margin-left: 100px;
  margin-right: 90px;
}

.footer {
  padding-top: 30px;
  display: flex;
  direction: rtl;
  background-color: rgb(32, 32, 32);
  /* height: 200px; */
}

.footer-sub-section2 {
  display: inline-block;
  width: 150px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

.gray-text {
  display: block;
  color: gray;
  font-size: 0.8em;
  margin-top: 7px;
}

.white-text {
  display: block;
  color: white;
  font-size: 0.85em;
  margin-bottom: 20px;
}

.line2 {
  display: block;
  margin-bottom: 20px;
  height: 2.5px !important;
}

.color1 {
  /* color: purple; */
  background-color: purple;
  border: none;
}

.color2 {
  background-color: rgb(150, 36, 70);
  border: none;
}

.color3 {
  background-color: rgb(153, 32, 32);
  border: none;
}

.color4 {
  background-color: rgb(152, 184, 36);
  border: none;
}

.fix-position {
  display: block;
  width: 100%;
  position: fixed;
  background-color: white;
}

.star_list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 4px;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 0px;
  direction: ltr;
  color: rgb(249, 185, 43);
}

.categories {
  color: #4a4a4a;
  padding: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-direction: row-reverse;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.small_cat_font {
  font-size: 0.8em;
  direction: ltr;
}

.header_res {
  width: 50%;
  text-align: center;
}

.restaurant_logo_main {
  align-self: center;
}

.restaurant_info_main {
  align-self: center;
  align-content: center;
  width: 100%;
  height: auto;
}
