* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans', sans-serif;
}
.reyhoon-logo {
    width: 10%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main {
    padding-top: 150px;
    background: #e5e6e7;
}
.forms {
    margin: 0 auto;
    max-width: 500px;
    overflow: hidden;
}
.forms h1 {
    padding: 20px 0 15px 0;
    font-size: 26px;
    color: #666;
    font-weight: lighter;
    text-align: center;
}
.forms p {
    padding: 0 0 40px 0;
    font-size: 15px;
    color: #999;
    font-weight: lighter;
    text-align: center;
}
.forms form { padding: 30px; }
.forms .tab-group {
    list-style: none;
    margin: 0 auto;
    max-width: 300px;
    padding: 0;
}
.forms .tab-group:after {
    display: table;
    clear: both;
}
.forms .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #888;
    font-size: 20px;
    float: right;
    width: 50%;
    text-align: center;
    border-top: 3px solid transparent;
}
.forms .tab-group li a:hover {
    background: #dedfdf;
    color: #666;
}
.forms .tab-group .active a {
    background: #fff;
    color: #444;
    border-bottom: 3px solid #850c7f;
}
.forms input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    color: #666;
    border-radius: 0;
    margin-bottom: 10px;
    text-align: right;
}
.forms #reg_tel {
    width: 49%;
    float: right;
    position: relative;
}
.forms #reg_eml {
    width: 49%;
    float: left;
    position: relative;
}
.forms input::placeholder{
    text-align: right;
}
.forms input:focus {
    outline: 0;
    border-color: #850c7f;
}
.forms .button {
    border: 0;
    outline: none;
    margin: 0 auto;
    max-width: 80px;
    border-radius: 19px;
    padding: 10px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 300;
    background: #850c7f;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}
.forms .button:hover, .button:focus { background: #f50c7f; }
.forms .text-p{
    text-align: right;
}
.forms .text-p a {
    text-decoration: none;
}
