.nav {
  text-align: right;
  direction: rtl;
  font-size: 1.1em;
  font-weight: lighter;
}

.nav li {
  display: inline;
}

.nav a {
  padding: 1%;
  color: rgb(80, 74, 74);
  text-decoration: none;
  display: inline-flex;
}

#my_a_tag {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  color: rgb(80, 74, 74);
  text-decoration: none;
  display: inline-flex;
}

#my_a_tag:hover {
  color: purple;
}

.li-class1 {
  border-left: 2px solid rgb(203, 203, 203);
}

.li-class2 {
  margin: 5%;
}

.main-header .nav a:hover {
  color: purple;
}

/* .line {
  background-image: linear-gradient(to right, red, purple);
  margin: 0;
  size: "4px";
} */

#my_line {
  background-image: linear-gradient(to right, red, purple) !important;
  margin: 0 !important;
  height: 3px !important;
}

.first-section {
  height: 100vh;
  background-image: url("../images/Pizza.jpg");
  background-position: -80% 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(255, 255, 255);
}

.other-sections {
  background-color: #f5f5f5;
}

.text-div1 {
  width: 60%;
  margin-left: 30%;
  text-align: center;
}

.reyhoon-logo {
  display: block;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  height: auto;
  width: 20%;
}

.header-class1 {
  color: gray;
}

.search-bar {
  display: flex;
  direction: rtl;
  align-items: center;
  margin-left: 32%;
  background-color: white;
  /* width: 30em; */
  border-radius: 8px;
  padding: 0.4em;
  width: 55%;
}

.fieldset-class1 {
  direction: rtl;
  border: 1px solid #e0e0e0;
  background-color: white;
  font-size: 0.6em;
  width: 80%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: right;
  border-left: none;
  margin-bottom: 5px;
}

.bordered-text {
  display: inline-flex;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-left: 0.2em;
  align-items: baseline;
  padding: 1.6em;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 0.9em;
  width: 10%;
}

.search-icon {
  border: 0.1em solid gray;
  /* background-color: blueviolet; */
  background-image: linear-gradient(to right, red, purple);
  border: none;
  padding: 1.5em;
  margin-right: 0em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: white;
}

.tehran-text {
  margin: 0em;
  margin-right: 0.4em;
}

.recent-search {
  display: inline-block;
  width: 102%;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-left: -15%;
}

.recent-search-text {
  color: gray;
}

#selectID {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
}

.text-input {
  border: 0em;
  align-self: baseline;
  font-size: 1.8em;
}

fieldset.scheduler-border {
  padding: 0 1.4em 1.4em 1.4em !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  align-content: center;
  align-items: center;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

.guide-section-item-header {
  display: block;
  width: 100%;
  /* text-align: right; */
  margin-top: 20px;
  margin-left: -10px;
  /* font-weight: bold; */
  direction: rtl;
  color: #969292;
  font-size: 0.9em;
}

.guide-section {
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  /* direction: rtl; */
}

.guide-section-item-describtion {
  display: flex;
  direction: rtl;
  margin: 10px;
  background-color: white;
  width: 300px;
  height: 80px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  align-items: center;
}

.g-s-i-d-image {
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.g-s-i-d-text {
  font-size: 0.8em;
  margin: 20px;
  color: gray;
}

.text-header1 {
  font-weight: bold;
  font-size: 1.2em;
}

.first-restaurant-section {
  margin-top: 100px;
}

.logo-container {
  width: 85px;
  height: 85px;
  display: inline-block;
  align-self: center;
  margin: 10px;
  margin-top: 15px;
}

.logo-container img {
  height: 90px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaurant-set {
  display: flex;
  max-block-size: 100%;
  text-align: center;
  margin-left: 13%;
}

.restaurant-subset {
  margin: 20px;
  width: 270px;
  height: 230px;
  align-items: baseline;
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
}

.restaurant-subset:hover,
.logo-container:hover,
.food-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaurant-name {
  color: #616161;
  font-size: 1.1em;
  margin: 7px;
  font-weight: bold;
}

.food-names {
  color: #757575;
  font-size: 0.9em;
  margin: 7px;
}

.restaurant-address {
  color: #9e9e9e;
  font-size: 0.8em;
  margin: 7px;
}

.start-order {
  margin-top: 3px;
  border: 0.1em solid purple;
  border-radius: 19px;
  color: purple;
  padding: 3px;
  padding-right: 11px;
  padding-left: 11px;
  margin-bottom: 10px;
}

.second-restaurant-section {
  background-image: url("../images/good-rest-background.jpg");
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 255, 255);
}

.restaurants-row {
  display: flex;
}

.restaurant-container {
  display: block;
  text-align: center;
  margin: 15px;
  margin-bottom: 0px;
  font-size: 0.8em;
}

.small-rest-name {
  color: gray;
  font-weight: bold;
}

.restaurants-row {
  display: flex;
}

#s-r-s-subsection {
  width: 500px;
  margin-left: 50%;
}

#title1 {
  display: block;
  font-weight: bold;
  width: 100%;
  margin-left: 60%;
  padding-top: 35px;
}

#food-image1 {
  width: 200px;
  height: 200px;
  background-image: url(../images/food1.jpg);
  margin: 10px;
  background-repeat: no-repeat;
}

#food-image2 {
  width: 200px;
  height: 200px;
  background-image: url(../images/food2.jpg);
  margin: 10px;
}

#food-image3 {
  width: 200px;
  height: 200px;
  background-image: url(../images/food3.jpg);
  /* background-size: cover; */
  background-repeat: no-repeat;
  margin: 10px;
}

#food-image4 {
  width: 200px;
  height: 200px;
  background-image: url(../images/food4.jpg);
  background-repeat: no-repeat;
  margin: 10px;
}

.food-pics {
  display: inline-flex;
}

.foods-section {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 30px;
}

.food-name {
  display: block;
  color: white;
  font-weight: bold;
  margin-top: 150px;
  margin-left: 68%;
}

.food-name-describtion {
  display: block;
  color: white;
  font-size: 0.7em;
  margin-top: 10px;
  margin-left: 50%;
  direction: rtl;
}

.food-buttons {
  display: inline-flex;
  width: 500px;
  flex-wrap: wrap;
  justify-content: center;
}

.food-button {
  display: block;
  margin: 4px;
  border-radius: 9px;
  border: none;
  background-color: white;
  padding: 3px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 0px;
  margin-top: 0px;
}

.app-div {
  width: 70vw;
  margin: 170px auto auto;
  direction: rtl;
}

.app-div-outer {
  width: 100%;
  height: 520px;
  background-color: white;
  box-shadow: 0 0 2px #eee;
  -webkit-box-shadow: 0 0 2px #eee;
  display: flex;
}

.app-div-right-side {
  flex-grow: 3;
}

.app-div-left-side {
  display: inline-flex;
  flex-grow: 1;
}
.app-div-left-side img {
  margin-top: -150px;
  margin-left: -260px;
  height: 793px;
}

.app-div-right-side h1 {
  margin-right: 30px;
  margin-top: 30px;
}

.app-div-right-side p {
  margin-right: 30px;
  font-size: 1.5em;
}

.rec-link-div {
  display: inline-flex;
  border: 1px solid #a0a0a08a;
  border-radius: 70px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  margin-right: 30px;
  margin-top: 20px;
  box-shadow: 0 0 15px #ddd;
  -webkit-box-shadow: 0 0 15px #ddd;
}

.rec-link-div:focus-within {
  border: 1px solid #8e00ab;
}

.recv-link-btn {
  background-image: -webkit-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
  background-image: -moz-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
  background-image: -o-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
  background-image: linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  border-right: 0;
  border-left: 0;
  margin-left: -11px;
  color: white;
  text-align: center;
  padding-top: 1.2rem;
  height: 3.6rem;
  margin-top: 0px;
  width: 15rem;
  border-radius: 70px 0 0 70px;
}

.cursor-pointer {
  cursor: pointer;
}

.rec-link-div .region-getter-typable {
  border: none;
  width: 20rem;
}

.rec-link-div .region-getter-typable input {
  height: 2.5rem;
  padding-right: 30px;
  padding-top: 0.35rem;
}

.app-div-access-msg {
  padding-top: 10px;
  font-size: 0.8rem;
  color: #aaa;
}

.app-download-links {
  margin-right: 30px;
}

.app-download-links div {
  display: inline-block;
  font-weight: bold;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  border-radius: 7px;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  padding: 0px 0px;
}

.app-download-links div:hover {
  box-shadow: 0 0 8px #ddd;
  -webkit-box-shadow: 0 0 8px #ddd;
}

.footer {
  display: block;
  float: right;
  width: 100%;
}
